p{
    font-weight: 600px;
    font-size: 3em;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
  }

  body {
    font-size: 16px;
  }

  h1{
    color: orange;
    font-family: sans-serif;
        
  }

  .classe1 {
    color: white;
    background-color: black;
    text-align: center;
    line-height: 2;
   }