.super-mario {
    width: 100px;
    position: absolute;

  }
  
  .goomba {
    width: 100px;
    position:absolute;
    top: 225px;

  }
  
  .baloon {
      position: absolute;
      left: 120px;
      top: 320px;

      

  ;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 360px;
    left: 140px;
    z-index: 2
  }
  
  .bowser {
    width: 150px;
    position: absolute;
    left: 400px;
    top: 500px;
    
  }